[Unit]
Description=User Mode Touch Driver for RPI_TOUCH

[Service]
ExecStart=-/usr/local/bin/rpi_touch_driver
Type=forking

[Install]
WantedBy=multi-user.target
